<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dzxrdf9za/image/upload/v1550245820/uiyz3zpal0csqcboqeon.jpg');">
  <div class="banner-content">
    <h1>My cocktails</h1>
    <p>Discover some amazing cocktails</p>
    <a class="btn btn-primary btn-lg" href="cocktails/new">Add a new cocktail</a>
  </div>
</div>

<div class="container">

  <% @cocktails.each do |cocktail| %>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo %>')">

          <%= link_to " ", cocktail_path(cocktail), class: "cocktail-link" %>
           <%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name" %>
          <i><%= link_to "", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link fas fa-trash-alt" %></i>
    </div>
   </div>

  <% end %>

</div>
